.sort-icon {
    cursor: pointer;
    display: inline-block;
}

.sort-icon .bx {
    font-size: 1em;
    color: grey;
}

.sort-icon .active {
    color: black;
}

.text-center {
    text-align: center;
}

thead tr, thead td, tfoot, tfoot td, tfoot tr, thead th {
    border: 2px solid black;
}

table {
    text-align: center;
    background-color: white;
    width: 100%;
}

table thead {
    height: 50%;
}

.Checkhighlight {
    background-color: #bebebe !important;
    border-left: 4px solid black;
}

.hover-highlight {
    background-color: #910000 !important;
}

.sort {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24px;
}

.sort i {
    font-size: 16px;
    margin: -3px 0;
}